<style>
    .hiha {
        background-color: wheat;
    }
    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .contact {
            text-align: left;
            width: 340px;
        }

    .information {
        text-align: left;
        float: center;
        width: 300px;

    }

    .policy {
        text-align: left;
        width: 300px;
    }
</style>

<body class="hiha">
    <!-- Footer -->
    <footer class="footer">

        <div class="contact">
            <h2>Contact</h2>

            <li> Address: 55 Điện Biên Phủ</li>
            <li> Phone:09091509</li>
            <li> Website:<a href="http://localhost:8080" target="_self">haohaostore.com</a></li>
        </div><!-- .footer-one-box -->


        <div class="information">
           <h2>Information</h2>

            <li> Featured products</li>
            <li>Collection</li>
            <li>Shop system</li>
            <li>Frequently Asked Questions</li>
            <li>Terms of purchase</li>
        </div><!-- .footer-one-box -->


        <div class="policy">
            <h2>Policy</h2>
            <li>About us</li>
            <li>Recruitment</li>
            <li>Shipping policy</li>
            <li>Return policy</li>
            <li>Return policy</li>
        </div><!-- .footer-one-box -->
    </div>


</body>
<!-- Copyright -->
<!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> ATNShop.com</a>
</div> -->
<!-- Copyright -->

</footer>

<!-- Footer -->